@import '../../styles/colors';

header {
    background-color: $main;
    height: 72px;
    border-radius: 14px;
    position: fixed;
    width: 1310px;
    top: 100px;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .greetingContainer {
        display: flex;
        align-items: center;

        .userAvatar {
            width: 28px;
            height: 28px;
        }

        .greetings {
            color: $white;
            margin-left: 12px;
        }
    }

    .contactMe {
        background-color: $purple;
        width: 174px;
        height: 42px;
        font-family: PoppinsSemiBold, serif;
        color: $white;
        border-radius: 8px;
    }
}